div.mapcontainer{
  height: 100vh !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.myp{
  margin-right:  15px;
}

.mydata{
  justify-content: center;
    text-align: center;
    display: grid;
}

.ntag{
  font-size: 20px;
    color: green;
    font-weight: 600;
    margin-top: -8px;
}

.lat{
  font-size: 20px;
 
  font-weight: 600;
  margin-top: -8px;
}

.datadiv{
  margin-top: -17px;
    display: block;
}

.parcimp{
  margin-bottom: 25px;
 
  height: 30px;
  border-radius: 7px;
    width: 209px;
    border: 1px solid black;
}

.gm-style-iw {
  width: 500px; 
 
}

.subbtn{
  border: none;
    width: 73px;
    height: 41px;
    border-radius: 19px;
    background: cadetblue;
    font-size: 16px;
}

.alert {
  height: 29px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 23px;

  transition-property: visibility, opacity;
  transition-duration: 200ms;
  transition-delay: 0;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0, 500ms;
    transition-property: opacity, visibility;
    transition-delay: 0, 500ms;
    transition: transform 0.3s ease-out;
  }
}



.alert p{
  color: white;
  font-weight: 500;
}

@-prefix-keyframes slide {
  from {height: 0;}
  to {height: 300px;}
}